/* reset */
html{
    font-size: 62.5%;
}
body{
    font: 1.6rem sans-serif;
    margin: 0;
}
h1,h2,h3,ul,p,figure{
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 100;
}
a{
    text-decoration: none;
    color: #222;
}
*{
    box-sizing: border-box;
}
/* theme */
header{
    background-color: #222;
    margin-bottom: 2.0rem;
}
header h1{
    line-height: 6.0rem;
    text-align: center;
    color: #fff;
}
header h1::before, header h1::after{
    content: ' - ';
}
main h2{
    text-align: center;
}
main figure{
    max-width: 30rem;
    margin: 2.0rem auto 2.0rem;
    
}
main figure ul{
    line-height: 4.5rem;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.0rem;
    background-color: #fafafa;
    border: solid 0.1rem transparent;
    box-shadow: 0  0 1.0rem #222;

}
main figure ul li{
    background-color: rgb(18, 132, 224);
    padding: 0.5rem;
    color: #fff;
}
main figure ul li:last-child{
    background: inherit;
}
main figure ul li img{
    display: block;
    max-width: 100%;
}
footer *{
    text-align: center;
    background-color: #fff;
}
